<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for("static", filename = "styles.css")}}" />
    <title>PS! Elo Trends</title>
</head>
<body>
    <div class = "content">
        <h1>Pokemon Showdown Elo Visualization</h1>
    </div>

    <div>
    <form method = "POST" action = "">
        <input type = "text" name = "username" placeholder="Username" id = "username" value = "{{ current_username or ''}}"/>
        {% if formats %}
        <select name="format" id="format">
          {% for fmt in formats %}
            <option value="{{ fmt }}">{{ fmt }}</option>
          {% endfor %}
        </select>

        {% else %}
            <select name = "format" id = "format">
                <option value = "">Format</option>
            </select>
        {% endif %}
        <input type = "submit" value = "submit" id = "btn_add">
    </form>
    </div>

<hr>
    {% if current_username %}
    <p>{{ current_username }}</p>
    {% endif %}

    {% if error_message %}
        <p> {{ error_message }} </p>
    {% endif %}

    {% if graph_JSON %}
        <div id = "elo-chart"></div>
        <script src = "https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script>
            const fig = {{ graph_JSON|safe }};
            Plotly.newPlot("elo-chart", fig.data, fig.layout);
        </script>
    {% endif %}


</body>
</html>